/* Your code goes below here */

/*
Examples of position selectors
*/

p em {
font-size: 28px;
}

p strong {
font-size: 32px;
}

ul {
    background-color:green;
    color:aqua;
}

ul em{
    background-color: pink;
    color:green;
}

ul li strong{
    background-colour:red;
    color:yellow;

}
/* Your code goes above here */